header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: black;
}

.profile-img {
    border: 5px rgb(255, 113, 136) solid;
    border-radius: 50%;
}

.main-con {
}
